.style-01 {
    color: white;
    background-color: red;
    text-align:center;
    font-size: 32px;
    font-weight: bold;
}
.odd-numbers{
    background-color: #FFC0CB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.number-3{
    font-size: 24px;
}
#number-2{
    color: #0000ff;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#number-4{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}
.black-button,
.yellow-button{
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
}
.black-button{
    background-color: #000000; color: #ffffff;
}
.yellow-button{
    background-color: yellow;
    font-size: 28px;
}
.avatar.proportioned{
    height: auto;
    width: 300px;
}
.avatar.distorted{
    height: 400px;
    width: 200px;
}
.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}